<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script src="./js/common.js"></script>
  <link rel="stylesheet" href="./css/common.css">
  <title>Document</title>
</head>

<body>
  <header>
    <a href="/tongxiang" class="logo"><img
        src="/public/uploads/7/admin/2019/05-17/6213ccb439082963a6b7232864cda5af.png"></a>
    <div class="btns">
      <a class="btn1" href="/tongxiang/mine"></a>
      <a class="btn2" href="javascript:;" id="open-menu"></a>
      <a class="btn3" href="javascript:;" id="close-menu"></a>
    </div>
  </header>
  <div class="menu" id="menu">
    <ul>
      <li><a href="/tongxiang/content/1209">童享云</a></li>
      <li><a href="http://www.txy123.com/newindex">蜗牛童行</a></li>
      <li><a href="https://www.hdxx123.com/newindex">立即试用</a></li>
      <li><a href="/tongxiang/activity/1092">购童享云</a></li>
      <li><a href="/tongxiang/content/1212">认识我们</a></li>
      <li><a href="/tongxiang/node/1071">功能介绍</a></li>
      <li><a href="/tongxiang/node/1072">最新资讯</a></li>
      <li><a href="/tongxiang/content/1207">立即咨询</a></li>
    </ul>
  </div>
  <div class="menu-cover"></div>
  <div class="site-section clearfix" id="container">
    <div class="select-bar">
      <ul class="select-bar-tab select-bar-tab1 flex">
        <li class="on">代言数据</li>
        <li>可代言活动</li>
        <li>已代言活动</li>
        <li>佣金结算</li>
      </ul>
    </div>
    <div class="endorse-date-box">
      <div class="one-level">
        <ul>
          <li class="head">个人代言业务数据</li>
          <li>今日成交订单：<a href="">11</a></li>
          <li>历史成交订单：<a href="">122</a></li>
          <li>今日获得佣金：￥0.00</li>
          <li>已获得佣金：￥1222.00 &nbsp;&nbsp;已结算佣金：￥100.00</li>
          <li>可结算佣金：￥1222.00 &nbsp;&nbsp;被冻结佣金：￥100.00</li>
          <li class="head">代言人发展数据</li>
          <li>今日发展代言人：<a href="">0</a>人</li>
          <li>所属代言人总数：<a href="">6</a>人</li>
          <li>今日所属代言人订单总数：<a href="">0</a></li>
          <li>今日所属代言人佣金总额：￥2000.00</li>
          <li>所属代言人订单总数：<a href="">12</a></li>
          <li>所属代言人佣金总额：￥2000.00</li>
          <li class="head">发展代言人专属二维码</li>
          <li class="center"><img src="images/111.jpg" alt=""></li>
        </ul>
      </div>
      <div class="second-level">
        <div class="second-level-t">
          <div class="head">您的客服专员</div>
          <div class="flex"><span class="tit">姓名</span>：<span class="txt">王大爷</span></div>
          <div class="flex"><span class="tit">联系电话</span>：<span class="txt">12345687965</span></div>
        </div>
        <ul>
          <li class="head">代言业务数据</li>
          <li>今日成交订单：<a href="">11</a></li>
          <li>历史成交订单：<a href="">122</a></li>
          <li>今日获得佣金：￥0.00</li>
          <li>已获得佣金：￥1222.00 &nbsp;&nbsp;已结算佣金：￥100.00</li>
          <li>可结算佣金：￥1222.00 &nbsp;&nbsp;被冻结佣金：￥100.00</li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>