<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,user-scalable=0" />
  <script src="__PUBLIC__/static/js/jquery.min.js"></script>
  <script src="__PUBLIC__/static/js/integral.js"></script>
  <link rel="stylesheet" href="__PUBLIC__/static/css/mobile.css">
  <title>积分商城</title>
</head>

<body class="flexCol">
  {include file="M2/lib/header2" /}

  <section class="score-section">
    <div class="score-content">
      <div class="qiandao-user flex">
        <div class="pic"><img src="{$userinfo.userimg}"></div>
        <div class="txt">
          <div class="name">{$userinfo.nickname},欢迎您！</div>
          <div class="score flex">
            <span>积分：</span>
            <a href="/{$sitecode}/integralrecord">{$userinfo.integral}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="select-bar">
      <ul class="select-bar-tab flex" id="select-bar-tab">
        <li {$tabType==0 ? 'class="on"' : ''}><div>全部商品</div></li>
        <li {$tabType==1 ? 'class="on"' : ''}><div>可兑换</div></li>
        <li {$tabType==2 ? 'class="on"' : ''}><div>兑换记录</<div></li>
      </ul>
    </div>

    <div class="score-list activity">
      <ul id="data">
        <li style="display: none">您的积分太少啦，亲~</li>
        <li style="display: none">您还没有兑换过商品，亲~</li>
      </ul>
      <div class="load"><span id="dataload" class="iconfont iconload">&#xe618;</span></div>
    </div>

  </section>

  {include file="M2/lib/footer3" /}
</body>
<script src="__PUBLIC__/static/js/pub.js"></script>
<script type="text/javascript">
  document.body.style.visibility = "visible";
</script>
<script>
  var tabType = {$tabType};
  var page = 1;
  var pageSize = 5;
  var scrollState = true;  // 下拉滚动状态, true：启用 false: 禁用
  /* tab栏样式切换 */
  $(function () {
    $(".select-bar-tab>li").click(function () {
      var index = $(".select-bar-tab>li").index(this);
      page = 1;
      // 全部商品
      if(index == 0){
        tabType = 0;
      }
      // 可兑换商品
      else if(index == 1){
        tabType = 1;
      }
      // 兑换订单
      else if(index == 2){
        tabType = 2;
      }
      $("#data").html('');
      
      loadData();
      $(this).addClass('on').siblings().removeClass('on');
    })
  })

  loadData();
  // 加载数据
  function loadData(){
    scrollState = false;
    $('.load').show();
    if(tabType !== 2){
      getGoods();
    }else{
      getExchangeRecord();
    }
  }
  // 获取商品数据
  function getGoods(){
    $.ajax({
      url: "/{$sitecode}/getintegralmall",
      type: "POST",
      data: {sitecode: '{$sitecode}', tabType: tabType,page:page, pageSize:pageSize},
      dataType: "JSON",
      success: function(result){
        scrollState = false;
        if(result.data.length == 0){
          if(page == 1){
            if(tabType == 0){
              $("#data").html('<li>没有找到更多商品~</li>');
            }else if(tabType == 1){
              $("#data").html('<li>您的积分太少啦，亲~</li>');
            }
          }
          $('.load').hide();
          return;
        }

        var html = '';
        result.data.forEach(item => {
            html += '<li>'
            html += '<a href="/{$sitecode}/integraldetail/'+ item.id +'" class="flex">';
            html += '<div class="pic"><img src="'+  item.goods_thumb +'"></div>'
            html += '<div class="txt">';
            html += '<div class="title">'+  item.goods_name +'</div>';
            if(item.suitable_age_start != 0 && item.suitable_age_end != 0){
              html += '<div class="time"><span>适合年龄：</span><span>'+ item.suitable_age_start +'~'+ item.suitable_age_end +'岁</span></div>';
            }else{
              html += '<div class="time"><span>适合年龄：</span><span>不限制</span></div>';
            }
            html += '<div class="source"><span>所需积分：</span><span>'+ item.integral +'</span></div>';
            html += '<div class="address"><span>剩余数量：</span><span>'+ item.goods_number +'</span></div>';
            html += '</div>'
            html += '</a></li>';
        });

        $("#data").append(html);
        scrollState = true;
        page++;
        $('.load').hide();
      },
      error: function(e){
        console.log(e);
        $("#data").html('');
        if(tabType == 0){
          $("#data").html('<li>没有找到更多商品~</li>');
        }else if(tabType == 1){
          $("#data").html('<li>您的积分太少啦，亲~</li>');
        }
        $('.load').hide();
      }
    });
  }
  // 获取兑换记录
  function getExchangeRecord(){
    $.ajax({
      url: "/{$sitecode}/getexchangerecord",
      type: "POST",
      data: {sitecode: '{$sitecode}', page:page, pageSize:pageSize},
      dataType: "JSON",
      success: function(result){
        scrollState = false;
        if(result.data.length == 0){
          if(page == 1){
            $("#data").html('<li>没有找到更多兑换记录~</li>');
          }
          $('.load').hide();
          return;
        }
        var html = '';
        result.data.forEach(item => {
            html += '<li>'
            html += '<a href="/{$sitecode}/integraldetail/'+ item.goods_id +'" class="flex">';
            html += '<div class="pic"><img src="'+  item.goods_thumb +'"></div>'
            html += '<div class="txt">';
            html += '<div class="order-num"><span>订单号：</span><span>'+ item.order_no +'</span></div>';
            html += '<div class="title">'+ item.goods_name +'</div>';
            html += '<div class="time"><span>所需积分：</span><span>'+ item.integral +'</span></div>';
            html += '<div class="source"><span>兑换数量：</span><span>'+ item.exchange_number +'</span></div>';
            html += '<div class="address"><span>兑换时间：</span><span>'+ formatTime(item.create_time) +'</span></div>';
            if(item.courier_company && item.courier_number){
              html += '<div class="source"><span>快递公司：</span><span>'+ item.courier_company +'</span></div>';
              html += '<div class="source"><span>快递单号：</span><span>'+ item.courier_number +'</span></div>';
            }
            if(item.order_status == 0){
              html += '<div class="btn"><object><a href="javajscript:void(0);">未处理</a></object></div>';
            }else if(item.order_status == 1){
              html += '<div class="btn"><object><a href="https://m.kuaidihelp.com/express/queryResult?word='+ item.courier_number +'+">查看物流</a></object></div>';
            }else if(item.order_status == 2){
              html += '<div class="btn"><object><a href="javajscript:void(0);">已取消</a></object></div>';
            }
            html += '</div>'
            html += '</a></li>';
        });
        $("#data").append(html);
        scrollState = true;
        page++;
        $('.load').hide();
      },
      error: function(e){
        $("#data").html('');
        $("#data").html('<li>没有找到更多兑换记录~</li>');
        $('.load').hide();
      }
    });
  }
  // 时间格式化
  function formatTime(timestamp){
    var now = new Date(timestamp*1000);
    var   year=now.getFullYear();    
    var   month=now.getMonth()+1;    
    var   date=now.getDate();    
    var   hour=now.getHours();    
    var   minute=now.getMinutes();    
    var   second=now.getSeconds();    
    return   year+"-"+month+"-"+date+"   "+hour+":"+minute+":"+second;    
  }
  //获取滚动条当前的位置
  function getScrollTop() {
      var scrollTop = 0;
      if (document.documentElement && document.documentElement.scrollTop) {
          scrollTop = document.documentElement.scrollTop;
      } else if (document.body) {
          scrollTop = document.body.scrollTop;
      }
      return scrollTop;
  }
  //获取当前可视范围的高度
  function getClientHeight() {
      var clientHeight = 0;
      if (document.body.clientHeight && document.documentElement.clientHeight) {
          clientHeight = Math.min(document.body.clientHeight, document.documentElement.clientHeight);
      } else {
          clientHeight = Math.max(document.body.clientHeight, document.documentElement.clientHeight);
      }
      return clientHeight;
  }
  //获取文档完整的高度
  function getScrollHeight() {
      return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight);
  }
  //滚动事件触发
  window.onscroll = function () {
    if (getScrollTop() + getClientHeight() === getScrollHeight() && scrollState == true) {
      loadData();
    }
  };
</script>

</html>