<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>我的资料</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<script type="text/javascript" src="{$roottpl}/js/jquery.min.js"></script>
<script type="text/javascript" src="{$roottpl}/js/swiper.min.js"></script>
<script type="text/javascript" src="{$roottpl}/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="{$roottpl}/style/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="{$roottpl}/style/css/common.css">
<link rel="stylesheet" type="text/css" href="{$roottpl}/style/css/pc.css">
</head>
<body style="background: #e7e7e7;">

<form class="information-list">
    <ul>
        <li>
            <div class="tit">账号：</div>
            <div class="txt"><input type="text" id="chraccount" name="chraccount" value="{$userinfo['chraccount']}" class="name"></div>
        </li>
        <li>
            <div class="tit">姓名：</div>
            <div class="txt"><input type="text" id="chrname" name="chrname" value="{$userinfo['chrname']}" class="id"></div>
        </li>
        <li>
            <div class="tit">昵称：</div>
            <div class="txt"><input type="text" id="nickname" name="nickname" value="{$userinfo['nickname']}" class="id"></div>
        </li>
        <li>
            <div class="tit">电话：</div>
            <div class="txt"><input type="text" id="chrtel" name="chrtel" value="{$userinfo['chrtel']}" class="phone"></div>
        </li>
        <li>
            <div class="tit">邮箱：</div>
            <div class="txt"><input type="text" id="chrmail" name="chrmail" value="{$userinfo['chrmail']}" class="mail"></div>
        </li>
    </ul>
    <div class="information-btn">
        <input type="button" class="return" onclick="history.go(-1);" value="返回">
        <input type="button" class="submit" onclick="javascript:savedata();" value="修改">
    </div>
    {include file="M4/lib/footer0" /}
</form>

<div class="footer">
    <ul>
        <li>
            <a href="/{$sitecode}">
                <span><i class="iconfont home">&#xe617;</i></span>
                <p>主页</p>
            </a>
        </li>
        <li class="on">
            <a href="/{$sitecode}/mine">
                <span><i class="iconfont head">&#xe606;</i></span>
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>
</body>
</html>
<script type="text/javascript" src="/static/js/layer/layer.js"></script>
<script language="JavaScript">
    function savedata() {

        $(".submit").hide;

        var str_chraccount=$("#chraccount").val();
        var str_chrname=$("#chrname").val();
        var str_nickname=$("#nickname").val();
        var str_chrtel=$("#chrtel").val();
        var str_chrmail=$("#chrmail").val();

        var data= {"chraccount":str_chraccount,"nickname":str_nickname,"chrname":str_chrname,"chrtel":str_chrtel,"chrmail":str_chrmail};
        $.ajax({
            url:"/{$sitecode}/usermodi",
            data:data,
            type:"post",
            dataType:"json",
            success:function(msg) {
                $(".submit").show();
                if(msg==1)
                {
                    layer.confirm('信息保存成功！',{btn:['关闭']});
                }
                else
                {
                    layer.confirm('信息保存失败！',{btn:['关闭']});
                }
                $(".submit").show();
            }
        })
    }
</script>