<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/static/css/layout.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/static/css/page.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="oa_pop">
    <div class="oa_pop-main">
        <div style="height: 6px"></div>
        <div class="oa_title clearfix">
            <span class="oa_ico-right"></span>
            <span class="oa_title-btn"></span>
            <span class="oa_ico-left"></span>
            {:lang('role detail')}
        </div>
        <div class="oa_edition">
            <form action="{:url('rolesite/rolepost')}" method="post">
                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="oa_edition" style="border-bottom: #e0e0e0 solid 1px">
                    <tr>
                        <td width="150" class="oa_cell-left"><span style="color: red;">*</span>&nbsp;{:lang('role name')}：</td>
                        <td class="oa_cell-right"><input name="rolename" type="text" value="{$roleinfo['rolename']}" class="oa_input-200" /></td>
                    </tr>
                    <tr>
                        <td width="150" class="oa_cell-left">{:lang('role remark')}：</td>
                        <td class="oa_cell-right"><input name="roleremark" type="text" value="{$roleinfo['roleremark']}" class="oa_input-200" /></td>
                    </tr>
                    <tr>
                        {if condition="$roleinfo['action'] eq 'view'"}{else /}<td colspan="2" style="padding:10px;"><input type="submit" value="{:lang('save')}"></td>{/if}
                        <td><input type="hidden" name="action" value="{$roleinfo['action']}" ></td>
                    </tr>
                    <tr>
                        <td>
                            {if condition="$roleinfo['action'] eq 'edit'"}
                            <input type="hidden" name="roleid" value="{$roleinfo['idrole']}" >{/if}
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>