
            <?php if($list){foreach($list as $k=>$vo) {?>
            <div class="ticket-content">
                <div class="flex">
                    <div class="tit">现金券</div>
                    <ul>
                        <li>
                            <div class="tit">{$vo['receive_cashed_name']}</div>
                        </li>
                        <li>
                            <div class="tit">金　　额：</div>

                            <div class="txt">
                                {$vo['cashed_amount']}
                                {if condition="$vo['used_status'] == 1" }
                                <span class="use" onclick="javascript:window.location='/{$sitecode}/cashedactivity/{$vo['cashed_type']}/{$vo['receive_activity_id']}'">立即使用</span>
                                {/if}
                            </div>

                        </li>
                        {if condition="$vo['used_status'] == 5"}
                        <li>
                            <div class="tit">使用对象：</div>
                            <div class="txt" style="cursor: pointer"  onclick="javascript:window.location='/{$sitecode}/detail/{$vo['used_activity_id']}'">{$vo['used_activity_name']}</div>
                        </li>
                        {/if}
                        {if condition="$vo['used_status'] == 1 || $vo['used_status'] == 15"}
                        <li>
                            <div class="tit">过期时间：</div>
                            <div class="txt">{$vo['cashed_validity_time']}</div>
                        </li>
                        {elseif condition="$vo['used_status'] == 5"}
                        <li>
                            <div class="tit">使用时间：</div>
                            <div class="txt">{$vo['used_time']}</div>
                        </li>
                        {elseif condition="$vo['used_status'] == 10"}
                        <li>
                            <div class="tit">冻结时间：</div>
                            <div class="txt">{$vo['freeze_time']}</div>
                        </li>
                        {/if}
                    </ul>
                </div>
            </div>
            <?php }}else{echo 11;exit;} ?>
        