
            <?php if($list){foreach($list as $k=>$vo) {?>
            <li>
                <a class="flex">
                    <div class="img-txt">
                        <div class="info">{$vo.chrtitle}</div>
                        <div class="info flex first-icon w64">
                            <div class="tit">购买人</div>：
                            <div class="txt blue">{$vo['chrusername']}</div>
                        </div>
                        <div class="info flex first-icon w64">
                            <div class="tit">购买数量</div>：
                            <div class="txt blue">{$vo['paynum']}</div>
                        </div>
                        <div class="info flex first-icon w64">
                            <div class="tit">订单金额</div>：
                            <div class="txt blue">{$vo['price']}(元)</div>
                        </div>
                        <div class="info flex first-icon w64">
                            <div class="tit">可获佣金</div>：
                            <div class="txt blue">
                                {if condition="$userid == $vo.spokesman_user_id3"}
                                {$vo.sell_commission}
                                {elseif condition="$userid == $vo.spokesman_user_id2"}
                                {$vo.bounty_commission2}
                                {/if}
                                (元)</div>
                        </div>
                        <div class="info flex first-icon w64">
                            <div class="tit">订单状态</div>：
                            <div class="txt red">{$order_state[$vo['state']]}</div>
                        </div>
                        <div class="info flex second-icon w64">
                            <div class="tit">购买时间</div>：
                            <div class="txt">{$vo['dtcreatetime']}</div>
                        </div>
                    </div>
                </a>
            </li>
            <?php }}else{echo 11;exit;} ?>
        