
            <?php if($list){foreach($list as $k=>$vo) {?>
            <li id="data_{$vo['id']}">
                <div class="txt">
                    <div class="title">{$vo['chrtitle']}</div>
                    <div class="style"><i class="iconfont laiyuan">&#xe66a;</i>评论内容：<span>{$vo['content']}</span></div>
                    <div class="time"><i class="iconfont clock">&#xe602;</i><span>评论时间：{$vo['createtime']|date="Y-m-d H:i:s",### }</span></div>
                    <?php if($vo['intstate']==4) {?>
                    <div class="style"><i class="iconfont laiyuan">&#xe66a;</i>回复内容：<span>{$vo['recontent']}</span></div>
                    <div class="time"><i class="iconfont clock">&#xe602;</i><span>回复时间：{$vo['retime']|date="Y-m-d H:i:s",###}</span></div>
                    <?php } ?>
                    <div class="btn">
                        <a href="javascript:;" onclick="javascript:del('{$vo['id']}')" style="float: right;">删除</a>
                    </div>
                </div>
            </li>
            <?php }}else{echo 11;exit;} ?>
        