<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script src="./js/common.js"></script>
  <link rel="stylesheet" href="./css/common.css">
  <title>Document</title>
</head>

<body>
  <header>
    <a href="/tongxiang" class="logo"><img
        src="/public/uploads/7/admin/2019/05-17/6213ccb439082963a6b7232864cda5af.png"></a>
    <div class="btns">
      <a class="btn1" href="/tongxiang/mine"></a>
      <a class="btn2" href="javascript:;" id="open-menu"></a>
      <a class="btn3" href="javascript:;" id="close-menu"></a>
    </div>
  </header>
  <div class="menu" id="menu">
    <ul>
      <li><a href="/tongxiang/content/1209">童享云</a></li>
      <li><a href="http://www.txy123.com/newindex">蜗牛童行</a></li>
      <li><a href="https://www.hdxx123.com/newindex">立即试用</a></li>
      <li><a href="/tongxiang/activity/1092">购童享云</a></li>
      <li><a href="/tongxiang/content/1212">认识我们</a></li>
      <li><a href="/tongxiang/node/1071">功能介绍</a></li>
      <li><a href="/tongxiang/node/1072">最新资讯</a></li>
      <li><a href="/tongxiang/content/1207">立即咨询</a></li>
    </ul>
  </div>
  <div class="menu-cover"></div>
  <div class="site-section clearfix" id="container" style="background: #f3f3f3">
    <div class="commission-exchange-box">
      <div class="flex info"><span class="tit">总佣金</span>：<span class="txt">2295.00元</span></div>
      <div class="flex info"><span class="tit">已提现</span>：<span class="txt">10.00元</span></div>
      <div class="flex info"><span class="tit">活动冻结金额</span>：<span class="txt">110.00元</span><span class="explain">查看说明</span></div>
      <div class="flex info"><span class="tit">可结算金额</span>：<span class="txt">30.00元</span></div>
    </div>
    <form action="" method="" id="" class="commission-exchange-form">
      <div class="flex info"><span class="tit">申请金额</span>：<input type="text"  class="txt" placeholder="请填写要结算的金额，单位(元)"></div>
      <div class="flex info"><span class="tit">真实姓名</span>：<span class="txt">张三</span></div>
      <div class="flex info"><span class="tit">微信号</span>：<span class="txt">abcderea</span></div>
      <div class="flex info"><span class="tit">手机号</span>：<span class="txt">15975592986</span></div>
      <div class="btnbox">
        <input type="button" value="返回">
        <input type="submit" value="提交">
      </div>
    </form>
  </div>
  <div class="add-account-box flex">
    <div class="add-account-btn flex">
      <span class="iconfont">&#xe65d;</span>
      <p>佣金结算规则</p>
    </div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/layer/layer.js"></script>
  <script>
    $('.add-account-btn,.explain').click(function () {
      var html = '';
          html += '<ul class="indent-ul">',
          html += '<li>总佣金：所有活动通过代言获取到的总佣金额</li>',
          html += '<li>已提现：历史提现的总金额；</li>',
          html += '<li>活动冻结金额：当活动未开始时的订单佣金处于冻结状态，当活动开始后自动归为可结算金额中；</li>',
          html += '<li>退款产生差额：当已提现的订单出现退款且总佣金小于已提现额时，会产生一个负数差额，后续代言产生的佣金会优先填补该差额，当差额为正数后可继续提现；</li>',
          html += '<li>提交申请后，我们的客服会通过微信联系您，并通过微信红包或转账形式给您进行结算。</li>'
          html += '<li>客服工作时间，周一至周五9:30-17:30。</li>',
          html += '</ul>'
      layer.open({
        skin: 'my-layer',
        title:'结算规则',
        content:html,
        btn:'我知道了',
        btnAlign: 'c',
      })
    })
    
  </script>
</body>

</html>