<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script src="./js/common.js"></script>
  <link rel="stylesheet" href="./css/common.css">
  <title>Document</title>
</head>

<body>
  <header>
    <a href="/tongxiang" class="logo"><img
        src="/public/uploads/7/admin/2019/05-17/6213ccb439082963a6b7232864cda5af.png"></a>
    <div class="btns">
      <a class="btn1" href="/tongxiang/mine"></a>
      <a class="btn2" href="javascript:;" id="open-menu"></a>
      <a class="btn3" href="javascript:;" id="close-menu"></a>
    </div>
  </header>
  <div class="menu" id="menu">
    <ul>
      <li><a href="/tongxiang/content/1209">童享云</a></li>
      <li><a href="http://www.txy123.com/newindex">蜗牛童行</a></li>
      <li><a href="https://www.hdxx123.com/newindex">立即试用</a></li>
      <li><a href="/tongxiang/activity/1092">购童享云</a></li>
      <li><a href="/tongxiang/content/1212">认识我们</a></li>
      <li><a href="/tongxiang/node/1071">功能介绍</a></li>
      <li><a href="/tongxiang/node/1072">最新资讯</a></li>
      <li><a href="/tongxiang/content/1207">立即咨询</a></li>
    </ul>
  </div>
  <div class="menu-cover"></div>
  <div class="site-section clearfix" id="container">
    <div class="select-bar">
      <ul class="select-bar-tab select-bar-tab1 flex">
        <li onclick="javascript:window.location='/share/index';">代言数据</li>
        <li class="on">可代言活动</li>
        <li>已代言活动</li>
        <li>佣金结算</li>
      </ul>
    </div>
    <div class="search-box">
      <form class="flex">
        <input type="text" id="txtstr" class="text fx1" placeholder="输入关键字，查找您需要的活动..">
        <span class="search-icon iconfont">&#xe635;</span>
      </form>
    </div>
    <div class="endorse-able-data">
      <ul>
        <li class="empty">暂无可代言活动~</li>
        <li>
          <a href="" class="flex">
            <div class="small-img"><img src="images/111.jpg" alt=""></div>
            <div class="img-txt">
              <div class="info">【惠州·双月湾】玩转夏日，清凉一夏天！368元抢虹海湾二期斯维登度假公寓，住无敌正海景房，游无边际泳池，看浪漫海景，吹清爽海风！</div>
              <div class="info flex first-icon">
                <div class="tit">适合年龄</div>：
                <div class="txt blue">不限</div>
              </div>
              <div class="info flex second-icon">
                <div class="tit">活动时间</div>：
                <div class="txt">2019-07-02~2019-08-31</div>
              </div>
            </div>
          </a>
          <div class="btn-box flex">
            <input type="button" value="生成海报">
            <input type="button" value="前往分享">
            <input type="button" value="佣金明细" class="emdorse-detailed">
          </div>
        </li>
        <li>
          <a href="" class="flex">
            <div class="small-img"><img src="images/111.jpg" alt=""></div>
            <div class="img-txt">
              <div class="info">【惠州·双月湾】玩转夏日，清凉一夏天！368元抢虹海湾二期斯维登度假公寓，住无敌正海景房，游无边际泳池，看浪漫海景，吹清爽海风！</div>
              <div class="info flex first-icon">
                <div class="tit">适合年龄</div>：
                <div class="txt blue">不限</div>
              </div>
              <div class="info flex second-icon">
                <div class="tit">活动时间</div>：
                <div class="txt">2019-07-02~2019-08-31</div>
              </div>
            </div>
          </a>
          <div class="btn-box flex">
            <input type="button" value="生成海报">
            <input type="button" value="前往分享">
            <input type="button" value="佣金明细" class="emdorse-detailed">
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="add-account-box flex">
    <a class="add-account-btn flex">
      <span class="iconfont">&#xe65d;</span>
      <p>代言规则</p>
    </a>
  </div>
  <div class="emdorse-detailed-content flex">
    <div class="box">
      <div class="title">活动套餐对应的价格及佣金明细</div>
      <ul>
        <li>
          <div class="info"><span>两房一厅公寓套房</span>:<span>￥388</span></div>
          <div class="info"><span>可获佣金</span>:<span>￥16</span></div>
        </li>
        <li>
          <div class="info"><span>两房一厅公寓套房</span>:<span>￥388</span></div>
          <div class="info"><span>可获佣金</span>:<span>￥16</span></div>
        </li>
        <li>
          <div class="info"><span>两房一厅公寓套房</span>:<span>￥388</span></div>
          <div class="info"><span>可获佣金</span>:<span>￥16</span></div>
        </li>
        <li>
          <div class="info"><span>两房一厅公寓套房</span>:<span>￥388</span></div>
          <div class="info"><span>可获佣金</span>:<span>￥16</span></div>
        </li>
        <li>
          <div class="info"><span>两房一厅公寓套房</span>:<span>￥388</span></div>
          <div class="info"><span>可获佣金</span>:<span>￥16</span></div>
        </li>
        <li>
          <div class="info"><span>两房一厅公寓套房</span>:<span>￥388</span></div>
          <div class="info"><span>可获佣金</span>:<span>￥16</span></div>
        </li>
        <li>
          <div class="info"><span>两房一厅公寓套房</span>:<span>￥388</span></div>
          <div class="info"><span>可获佣金</span>:<span>￥16</span></div>
        </li>
      </ul>
      <div class="btn-box">
        <input type="button" value="我知道了" class="close">
      </div>
    </div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/layer/layer.js"></script>
  <script>
    $('.add-account-btn,.explain').click(function () {
      var html = '';
      html += '<ul class="indent-ul">',
        html += '<li>点击活动“佣金明细”按钮可查看该活动的对外销售价格以及可获得的对应佣金额；</li>',
        html += '<li>选择要代言的活动，点击“前往代言”进入活动详细页面；</li>',
        html += '<li>通过活动详细页右上角的分享功能，把活动分享给朋友、群、或者朋友圈；</li>',
        html += '<li>通过您分享的链接进行报名的，并且在活动结束后未退款，视为有效代言；</li>',
        html += '<li>通过“我的代言”菜单可查看我代言的活动以及通过我的代言进行报名的订单信息；</li>'
      html += '<li>当赚取的佣金大于等于1元时，用户可以在“我的结算”中发起结算申请。</li>',
        html += '</ul>'
      layer.open({
        skin: 'my-layer',
        title: '代言规则',
        content: html,
        btn: '我知道了',
        btnAlign: 'c',
      })
    })

    $('.emdorse-detailed-content').hide(0);
    $('.emdorse-detailed').click(function () {
      $('.emdorse-detailed-content').show();
    })
    $('.btn-box input.close').click(function () {
        $('.emdorse-detailed-content').hide();
    })
  </script>
</body>

</html>