<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script src="./js/common.js"></script>
  <link rel="stylesheet" href="./css/common.css">
  <title>Document</title>
</head>

<body>
  <header>
    <a href="/tongxiang" class="logo"><img
        src="/public/uploads/7/admin/2019/05-17/6213ccb439082963a6b7232864cda5af.png"></a>
    <div class="btns">
      <a class="btn1" href="/tongxiang/mine"></a>
      <a class="btn2" href="javascript:;" id="open-menu"></a>
      <a class="btn3" href="javascript:;" id="close-menu"></a>
    </div>
  </header>
  <div class="menu" id="menu">
    <ul>
      <li><a href="/tongxiang/content/1209">童享云</a></li>
      <li><a href="http://www.txy123.com/newindex">蜗牛童行</a></li>
      <li><a href="https://www.hdxx123.com/newindex">立即试用</a></li>
      <li><a href="/tongxiang/activity/1092">购童享云</a></li>
      <li><a href="/tongxiang/content/1212">认识我们</a></li>
      <li><a href="/tongxiang/node/1071">功能介绍</a></li>
      <li><a href="/tongxiang/node/1072">最新资讯</a></li>
      <li><a href="/tongxiang/content/1207">立即咨询</a></li>
    </ul>
  </div>
  <div class="menu-cover"></div>
  <div class="site-section clearfix" id="container">
    <div class="select-bar">
      <ul class="select-bar-tab select-bar-tab1 flex">
        <li onclick="javascript:window.location='/share/index';">代言数据</li>
        <li>可代言活动</li>
        <li class="on">已代言活动</li>
        <li>佣金结算</li>
      </ul>
    </div>
    <div class="endorse-able-data">
      <ul>
        <li class="empty">暂无可报名信息~</li>
        <li>
          <a href="" class="flex">
            <div class="img-txt">
              <div class="info">【惠州·双月湾】玩转夏日，清凉一夏天！368元抢虹海湾二期斯维登度假公寓，住无敌正海景房，游无边际泳池，看浪漫海景，吹清爽海风！</div>
              <div class="info flex first-icon w64">
                <div class="tit">购买人</div>：
                <div class="txt blue">张三</div>
              </div>
              <div class="info flex first-icon w64">
                <div class="tit">购买数量</div>：
                <div class="txt blue">1</div>
              </div>
              <div class="info flex first-icon w64">
                <div class="tit">订单金额</div>：
                <div class="txt blue">58(元)</div>
              </div>
              <div class="info flex first-icon w64">
                <div class="tit">可获佣金</div>：
                <div class="txt blue">5(元)</div>
              </div>
              <div class="info flex first-icon w64">
                <div class="tit">订单状态</div>：
                <div class="txt red">待支付</div>
              </div>
              <div class="info flex second-icon w64">
                <div class="tit">购买时间</div>：
                <div class="txt">2019-07-02 15:09:28</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="flex">
            <div class="img-txt">
              <div class="info">【惠州·双月湾】玩转夏日，清凉一夏天！368元抢虹海湾二期斯维登度假公寓，住无敌正海景房，游无边际泳池，看浪漫海景，吹清爽海风！</div>
              <div class="info flex first-icon w64">
                <div class="tit">购买人</div>：
                <div class="txt blue">张三</div>
              </div>
              <div class="info flex first-icon w64">
                <div class="tit">购买数量</div>：
                <div class="txt blue">1</div>
              </div>
              <div class="info flex first-icon w64">
                <div class="tit">订单金额</div>：
                <div class="txt blue">58(元)</div>
              </div>
              <div class="info flex first-icon w64">
                <div class="tit">可获佣金</div>：
                <div class="txt blue">5(元)</div>
              </div>
              <div class="info flex first-icon w64">
                <div class="tit">订单状态</div>：
                <div class="txt red">待支付</div>
              </div>
              <div class="info flex second-icon w64">
                <div class="tit">购买时间</div>：
                <div class="txt">2019-07-02 15:09:28</div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script src="js/jquery.min.js"></script>
</body>

</html>