<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>短信充值</title>
    <link href="__PUBLIC__/static/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/static/css/page.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/lhgdialog.js?skin=aero"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/CostomLinkOpenSw.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/tabscommon.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/del-checked.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>

<div class="oa_wrapper">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr class="oa_wrapper-display">
            <td class="oa_wrapper-top-arr-left">&nbsp;</td>
            <td class="oa_wrapper-top-arr-middle"></td>
            <td class="oa_wrapper-top-arr-right">&nbsp;</td>
        </tr>
        <tr>
            <td class="oa_wrapper-middle-arr-left oa_wrapper-display"></td>
            <td class="oa_wrapper-middle-arr-middle">
                <div class="oa_location clearfix"><span class="oa_ico-left"></span>location<span class="oa_ico-right"></span></div>
                <div class="oa_main clearfix">
                    <div class="oa_subnav clearfix">
                        <div class="oa_subnav-tab clearfix">
                            {include file="sms/sms_nav"}
                        </div>
                    </div>
                    <div class="oa_content-area clearfix">
                        <div class="oa_content-main">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td valign="top">
                                        <div class="oa_title clearfix">
                                            <span class="oa_ico-right"></span>
                                            <span class="oa_ico-left"></span>
                                            {:lang('search')}
                                        </div>
                                        <div class="oa_search-area clearfix">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td>
                                                        <div class="oa_search-type clearfix">
                                                            <form action="{:url('sms/sms_recharge_list')}" method="post" id="form1">
                                                                <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                                                    <tr>
                                                                        <td width="100" class="oa_cell-left">开通状态：</td>
                                                                        <td class="oa_cell-right">
                                                                            <select name="status" style="width: 200px">
                                                                                <option value="">请选择</option>
                                                                                <option value="0" <?php if(is_numeric($search["status"]) && $search["status"]==0){echo "selected";} ?>>未支付</option>
                                                                                <option value="1" <?php if($search["status"]==1){echo "selected";} ?>>已支付</option>
                                                                            </select>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="30"></td>
                                                                        <td class="oa_cell-right"><input  name="" type="submit" value="{:lang('search')}" class="oa_search-btn" /></td>
                                                                    </tr>
                                                                </table>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="oa_title clearfix">
                                            <span class="oa_title-btn">
                                                <ul>
                                                    <?php if($cms->CheckPurview('sms','recharge')){ ?>
                                                  <li class="oa_selected">
                                                       <a href="javascript:CustomOpen('{:url('sms/sms_recharge')}', 'sms_recharge','短信充值', 350,300)">短信充值</a>
                                                  </li>
                                                    <?php } ?>
                                                </ul>
                                            </span>
                                            <span class="oa_ico-left"></span>
                                            短信充值列表
                                        </div>
                                        <div class="oa_text-list">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed">
                                                <tr class="oa_text-list-title">
                                                    <th width="140px"><span class="oa_arr-text-list-title"></span>订单编号</th>
                                                    <th><span class="oa_arr-text-list-title"></span>充值短信数量</th>
                                                    <th><span class="oa_arr-text-list-title"></span>订单金额</th>
                                                    <th><span class="oa_arr-text-list-title"></span>支付状态</th>
                                                    <th width="115px"><span class="oa_arr-text-list-title"></span>创建时间</th>
                                                    <th width="115px"><span class="oa_arr-text-list-title"></span>支付时间</th>
                                                    <?php if($cms->CheckPurview('sms','recharge')){ ?>
                                                    <th width="60px"><span class="oa_arr-text-list-title"></span>操作</th>
                                                    <?php } ?>
                                                </tr>
                                                {volist name="list" id="vo"}
                                                <tr>
                                                    <td>{$vo['order_sn']}</td>
                                                    <td>{$vo['sms_num']}</td>
                                                    <td>{$vo['order_price']}</td>
                                                    <td>{$vo['str_status']}</td>
                                                    <td>{$vo['create_time']}</td>
                                                    <td>{$vo['pay_time']}</td>
                                                    <td>
                                                        <?php if($cms->CheckPurview('sms','recharge') && $vo['status'] == 0){ ?>
                                                        <a href="javascript:CustomOpen('{:url('sms/sms_again_recharge','sms_order_id='.$vo['sms_order_id'])}', 'sms_again_recharge','继续支付', 350,300)">继续支付</a>
                                                        <?php } ?>
                                                    </td>
                                                </tr>
                                                {/volist}
                                            </table>
                                            <div class="oa_bottom clearfix">
                                                <div class="clearfix">
                                                    <div class="oa_page-controls">
                                                        <ul>
                                                            <li></li>
                                                            <li>{$page->show()}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="oa_bottom-bottom"><em></em></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>


                </div>
            </td>
            <td class="oa_wrapper-middle-arr-right oa_wrapper-display"></td>
        </tr>
        <tr class="oa_wrapper-display">
            <td class="oa_wrapper-bottom-arr-left">&nbsp;</td>
            <td class="oa_wrapper-bottom-arr-middle"></td>
            <td class="oa_wrapper-bottom-arr-right">&nbsp;</td>
        </tr>
    </table>
</div>
<script type="text/javascript">

    function check() {
        return true;
    }

    function empty() {
        window.location.reload();
    }
</script>
</body>
</html>