<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__PUBLIC__/static/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/static/css/page.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="oa_pop">
    <div style="height: 6px"></div>
    <div class="oa_pop-main">
        <div class="oa_title clearfix">
            <span class="oa_ico-right"></span>
            <span class="oa_title-btn"></span>
            <span class="oa_ico-left"></span>
            模型信息
        </div>
        <div class="oa_edition">
            <form action="{:url('pattern/modelpost')}" method="post">
                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="oa_edition" style="border-bottom: #e0e0e0 solid 1px">
                    <tr>
                        <td width="100" class="oa_cell-left"><span style="color: red;">*</span>&nbsp;名称：</td>
                        <td class="oa_cell-right"><input name="modelname" type="text" value="{$patterninfo['modelname']}" class="oa_input-200" /></td>
                    </tr>
                    <tr>
                        <td width="100" class="oa_cell-left">类型：</td>
                        <td class="oa_cell-right">
                            <input name="modeltype" type="radio" value="1" {$patterninfo['modeltype']==1?"checked":""} />内容
                            <input name="modeltype" type="radio" value="3" {$patterninfo['modeltype']==3?"checked":""} />会员
                            <input name="modeltype" type="radio" value="4" {$patterninfo['modeltype']==4?"checked":""} />评论
                            <input name="modeltype" type="radio" value="5" {$patterninfo['modeltype']==5?"checked":""} />报名
                        </td>
                    </tr>
                    <tr>
                        <td width="100" class="oa_cell-left">描述：</td>
                        <td class="oa_cell-right">
                            <input name="remark" type="text" value="{$patterninfo['remark']}" class="oa_input-200" />
                        </td>
                    </tr>
                    <tr>
                        <td width="100" class="oa_cell-left">是否启用：</td>
                        <td class="oa_cell-right">
                            <input name="isusing" type="radio" value="1" {$patterninfo['isusing']==1?"checked":""} />是
                            <input name="isusing" type="radio" value="2" {$patterninfo['isusing']==2?"checked":""} />否
                        </td>
                    </tr>
                    <tr>
                        <td width="100" class="oa_cell-left">是否公用：</td>
                        <td class="oa_cell-right">
                            <input name="ispublic" type="radio" value="1" {$patterninfo['ispublic']==1?"checked":""} />是
                            <input name="ispublic" type="radio" value="2" {$patterninfo['ispublic']==2?"checked":""} />否
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px;"><input type="submit" value="{:lang('save')}"></td>
                    </tr>
                    <tr style="text-align: right">
                        <td>
                            <input type="hidden" name="action" value="{$patterninfo['action']}" ></td>
                        {if condition="$patterninfo['action'] eq 'edit'"}
                        <td colspan="2"><input type="hidden" name="idmodel" value="{$patterninfo['idmodel']}"></td>
                        {/if}
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>