<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>扫码关注</title>
</head>
<style>
.qrcode{
    text-align: center;
    color: red;
    width: 200px;
    margin: 0 auto;
}
.description{
    font-size: 14px;
    line-height: 200%;
}
.description h1{
    font-size: 16px;
    color: #2671fb;
    font-weight: normal;
}
</style>
<body>
    <div class="qrcode">
        {if condition="$site_qrocde_url"}
            <img src="{$site_qrocde_url}" width="200" height="200" />
        {else}
            <div style="line-height: 200px;">二维码生成失败</div>
        {/if}
    </div>
    <div class="description">
        <h1>【兑换操作指导】</h1>
        第一，长按二维码，保存图片，保存二维码到手机相册。<br/>
        第二，进入微信，点击左上角的“⊕”，选择【扫一扫】。<br/>
        第三，点击左上角“相册”，选择保存的二维码关注产品机构公众号。<br/>
        第四，进入公众号，在下方输入框中输入“下单时使用的手机号+兑换码”，例如：”13812345678+abc123d5“<br/>
        <font style="color:orange">发送后，您将收到一个二维码，签到时，请提供该二维码给工作人员完成核销即可。</font><br/>
        <font style="color: red">温馨提示：请记得在有效期内参加哦！过期未参加不可作为退款理由。</font>
    </div>
</body>
</html>