<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>现金券详情</title>
    <link href="__PUBLIC__/static/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/static/css/page.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/ContorlValidator.js"></script>

</head>
<body>
<div class="oa_pop">
    <div class="oa_pop-main">
        <div style="height: 6px"></div>
        <div class="oa_title clearfix">
            <span class="oa_title-btn"></span>
            <span class="oa_ico-left"></span>
            结算申请详情        </div>
        <div class="oa_edition" style="margin-bottom: 5px">
            <table width="100%" border="0" cellspacing="1" cellpadding="0" class="oa_edition" style="border-bottom: #e0e0e0 solid 1px">
                <tr>
                    <td width="150" class="oa_cell-left">申请人：</td>
                    <td class="oa_cell-right">{$datainfo['u_chrname']}</td>
                </tr>
                <tr>
                    <td width="150" class="oa_cell-left">微信号：</td>
                    <td class="oa_cell-right">{$datainfo['wechat_number']}</td>
                </tr>
                <tr>
                    <td width="150" class="oa_cell-left">手机号码：</td>
                    <td class="oa_cell-right">{$datainfo['u_chrtel']}
                    </td>
                </tr>
                {if condition="$datainfo['audit_status'] == 1"}
                <tr>
                    <td width="150" class="oa_cell-left">用户可结算金额（元）：</td>
                    <td class="oa_cell-right">{$datainfo['can_commission']}
                    </td>
                </tr>
                {/if}
                <tr>
                    <td width="150" class="oa_cell-left">结算金额（元）：</td>
                    <td class="oa_cell-right"><span style="color: red">{$datainfo['balance_amount']}</span></td>
                </tr>
                <tr>
                    <td width="150" class="oa_cell-left">申请时间：</td>
                    <td class="oa_cell-right">{$datainfo['create_time']}</td>
                </tr>
                <tr>
                    <td width="150" class="oa_cell-left">状态：</td>
                    <td class="oa_cell-right"><?php if($datainfo['audit_status'] == 1){
                                                                echo '待审批';
                                                            }elseif($datainfo['audit_status'] == 5){  ?>
                        已审批
                        <?php
                                                            }elseif($datainfo['audit_status'] == 10){
                                                                echo '审批不通过';
                                                            }
                                                        ?></td>
                </tr>
                {if condition="$datainfo['audit_status'] != 1"}
                <tr>
                    <td width="150" class="oa_cell-left">审批人：</td>
                    <td class="oa_cell-right">{$datainfo['audit_account_chrname']}</td>
                </tr>
                <tr>
                    <td width="150" class="oa_cell-left">审批时间：</td>
                    <td class="oa_cell-right">{$datainfo['audit_time']}</td>
                </tr>
                <tr>
                    <td width="150" class="oa_cell-left">备注信息：</td>
                    <td class="oa_cell-right">{$datainfo['audit_remark']}</td>
                </tr>
                {else}
                <form action="" method="post" id="form1" onsubmit="return verify_param()">
                    <input type="hidden" name="id" value="{$datainfo['id']}">
                <tr>
                    <td width="150" class="oa_cell-left"><span style="color: red">*</span>是否通过：</td>
                    <td class="oa_cell-right">
                        <label><input name="audit_status" type="radio" value="5"  />审批通过</label>
                        <label><input name="audit_status" type="radio" value="10" />审批不通过</label>
                    </td>
                </tr>
                    <tr>
                        <td width="150" class="oa_cell-left">备注信息：</td>
                        <td class="oa_cell-right">
                            <textarea id="audit_remark" name="audit_remark" is_null="1" cols="50" rows="3"  class="form-control input oa_input-200"  style="width:250px;height:80px;"></textarea>
                        </td>
                    </tr>
                <tr>
                    <td></td>
                    <td  style="padding:5px;"><input type="submit" value="确定" style="cursor: pointer" ></td>
                </tr>
                </form>
                {/if}

            </table>
        </div>
    </div>
</div>
<script>
    function verify_param() {
        var audit_status = $('input[name="audit_status"]:checked').val();
        var audit_remark = $('#audit_remark').val();
        if(audit_status == undefined){
            alert('请选择是否通过');
            return false;
        }
        if(audit_status == 10 && audit_remark == ''){
            alert('当审批不通过时备注信息必填');
            return false;
        }
        return true;
    }
</script>
</body>
</html>