		<div style="padding: 10px">
			<div style="font-size: 0.12rem; text-align: center;color: #808080">
				<div>{$cms->GetConfigVal('webset','webname',$idsite);}</div>
				<div><?php echo str_replace("\r\n","<br>", $cms->GetConfigVal('webset','copyright',$idsite));?></div>
			</div>
			<div style="font-size: 0.1rem; text-align: center;color: #808080;padding-top: 10px;" onclick="location='https://www.tongxiang123.cn/tongxiang'">
				<div>童享云提供技术支持</div>
				<div>www.tongxiang123.com</div>
			</div>
		</div>