<!-- 积分兑换详情页 -->
<div class="footernav-wrap">
  <div class="footernav-wrap-inner">
    <ul class="flex footernavbar">
      <li>
        <a href="/{$sitecode}/integralmall" class="flexCol footernavbar-link">
          <span><i class="iconfont">&#xe778;</i></span>
          <p>积分商城</p>
        </a>
      </li>

      <li>
        <a href="/{$sitecode}/mine" class="flexCol footernavbar-link bgColor on">
          <span><i class="iconfont">&#xe666;</i></span>
          <p>个人中心</p>
        </a>
      </li>
    </ul>
  </div>
</div>