<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>日志管理</title>
    <link href="__PUBLIC__/static/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/static/css/page.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/lhgdialog.js?skin=aero"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/CostomLinkOpenSw.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/tabscommon.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/clipboard.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/del-checked.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/daterangepicker/daterangepicker-bs3.css" />
    <script type="text/javascript" src="/static/js/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/daterangepicker/daterangepicker.js"></script>
    <style type="text/css">
        .layui-layer-title{
            border: none;
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>
<div class="oa_wrapper">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr class="oa_wrapper-display">
            <td class="oa_wrapper-top-arr-left">&nbsp;</td>
            <td class="oa_wrapper-top-arr-middle"></td>
            <td class="oa_wrapper-top-arr-right">&nbsp;</td>
        </tr>
        <tr>
            <td class="oa_wrapper-middle-arr-left oa_wrapper-display"></td>
            <td class="oa_wrapper-middle-arr-middle">
                <div class="oa_location clearfix"><span class="oa_ico-left"></span>location<span class="oa_ico-right"></span></div>
                <div class="oa_main clearfix">

                    <div class="oa_content-area clearfix">
                        <div class="oa_content-main">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td valign="top">
                                        <div class="oa_title clearfix">
                                            <span class="oa_title-btn">
                                              </span>
                                            <span class="oa_ico-left"></span>
                                            日志管理                                        </div>
                                        <div class="oa_text-list">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0"  style="table-layout:fixed">
                                                <tr class="oa_text-list-title">
                                                    <th WIDTH="60"><span class="oa_arr-text-list-title"></span>管理员id</th>
                                                    <th WIDTH="70"><span class="oa_arr-text-list-title"></span>管理员名称</th>
                                                    <th WIDTH="140"><span class="oa_arr-text-list-title"></span>路由地址</th>
                                                    <th><span class="oa_arr-text-list-title"></span>参数</th>
                                                    <th WIDTH="60"><span class="oa_arr-text-list-title"></span>请求方式</th>
                                                    <th WIDTH="100"><span class="oa_arr-text-list-title"></span>ip</th>
                                                    <th WIDTH="50"><span class="oa_arr-text-list-title"></span>siteid</th>
                                                </tr>
                                                {volist name="data" id="vo"}
                                                <tr>
                                                    <td>{$vo['idaccount']}</td>
                                                    <td>{$vo['chrname']}</td>
                                                    <td>{$vo['route']}</td>
                                                    <td onclick="showMsg(this)" title="单击查看更多">{$vo['params']}</td>
                                                    <td>{$vo['method']}</td>
                                                    <td>{$vo['ip']}</td>
                                                    <td>{$vo['siteid']}</td>
                                                </tr>
                                                {/volist}
                                            </table>
                                            <div class="oa_bottom clearfix">
                                                <div class="clearfix">
                                                    <div class="oa_op-btn clearfix">

                                                    </div>
                                                    <div class="oa_page-controls">
                                                        <ul>
                                                            <li>{$page->show()}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="oa_bottom-bottom"><em></em></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="oa_content-main-bottom"></div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="oa_wrapper-middle-arr-right oa_wrapper-display"></td>
        </tr>
        <tr class="oa_wrapper-display">
            <td class="oa_wrapper-bottom-arr-left">&nbsp;</td>
            <td class="oa_wrapper-bottom-arr-middle"></td>
            <td class="oa_wrapper-bottom-arr-right">&nbsp;</td>
        </tr>
    </table>
</div>
<div id="rqcode" style="display: none; height: 160px;width: 160px;background-color: #FFFFFF; border: solid 2px #000000; text-align: center;padding-top: 20px; ;position: absolute;margin-right: 150px" />
<script type="text/javascript">
    function showMsg(obj) {
        var content = "<div style=\"padding:20px;\">"+$(obj).text()+"</div>";
        layer.open({
            type: 1,
            closeBtn: 0, //不显示关闭按钮
            anim: 2,
            shadeClose: true, //开启遮罩关闭
            content: content
        });
    }
</script>

</body>
</html>