<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>无标题文档</title>
  <script type="text/javascript" src="__PUBLIC__/static/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/static/js/lhgdialog.js?skin=aero"></script>
  <script type="text/javascript" src="__PUBLIC__/static/js/CostomLinkOpenSw.js"></script>
  <script type="text/javascript" src="__PUBLIC__/static/js/tabscommon.js"></script>
  <script type="text/javascript" src="__PUBLIC__/static/js/del-checked.js"></script>
  <script type="text/javascript" src="__PUBLIC__/static/js/layer/layer.js"></script>
  <link href="__PUBLIC__/static/js/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="__PUBLIC__/static/js/daterangepicker/moment.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/static/js/daterangepicker/daterangepicker.js"></script>
  <link rel="stylesheet" href="__PUBLIC__/static/css/bootstrap.min.css">
  <link href="__PUBLIC__/static/css/layout.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/static/css/page.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript">
      $(function(){
          $(document).ready(function() {
              $('.oa_text-list tr').addClass('odd');
              $('.oa_text-list tr:even').addClass('even');
          });
          $('.oa_text-list tr').hover(
              function(){
                  $(this).addClass('oa_mouseover-bg');
              },
              function(){
                  $(this).removeClass('oa_mouseover-bg');
              }
          );
      });

      function empty() {
          window.location.reload();
      }


      //删除选中
      function del_checked() {

          var b = $(".checked_one");
          var s = '';
          for(var i=0;i<b.length;i++){
              if(b[i].checked){
                  s+= b[i].value+',';
              }
          }
          s = s.substr(0, s.length - 1);
          $.ajax({
              url:"{:url('account/delchecked')}",
              data:"id="+s,
              type:"post",
              dataType:"json",
              success:function(msg){
                  $(".checked_one").removeAttr("checked");
                  if (msg==1){
                      layer.alert('{:lang('del success')}', {icon: 1}, function(index){
                          location.reload();
                          layer.close(index);
                      });
                  }else{
                      layer.alert('{:lang('del fail')}', {icon: 2}, function(index){
                          layer.close(index);
                          location.reload();
                      });
                  }

              }
          })
      }
  </script>

</head>
<body>
<div class="oa_wrapper">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="oa_wrapper-display">
      <td class="oa_wrapper-top-arr-left">&nbsp;</td>
      <td class="oa_wrapper-top-arr-middle"></td>
      <td class="oa_wrapper-top-arr-right">&nbsp;</td>
    </tr>
    <tr>
      <td class="oa_wrapper-middle-arr-left oa_wrapper-display"></td>
      <td class="oa_wrapper-middle-arr-middle">
        <div class="oa_location clearfix"><span class="oa_ico-left"></span>location<span class="oa_ico-right"></span></div>
        <div class="oa_main clearfix">
          <div class="oa_subnav clearfix">
            <div class="oa_subnav-tab clearfix">
              <ul>
                <li {if condition="$search.state eq 0"}class="oa_on"{/if}><em><a href="{:url('entry/index','state=0')}">所有报名</a></em></li>
                <li {if condition="$search.state eq 1"}class="oa_on"{/if}><em><a href="{:url('entry/index','state=1')}">待审批的报名</a></em></li>
                <li {if condition="$search.state eq 2"}class="oa_on"{/if}><em><a href="{:url('entry/index','state=2')}">审查不通过的报名</a></em></li>
                <li {if condition="$search.state eq 3"}class="oa_on"{/if}><em><a href="{:url('entry/index','state=3')}">退款的报名</a></em></li>
                <li {if condition="$search.state eq 4"}class="oa_on"{/if}><em><a href="{:url('entry/index','state=4')}">已取消的报名</a></em></li>
                <li {if condition="$search.state eq 5"}class="oa_on"{/if}><em><a href="{:url('entry/index','state=5')}">待下单的报名</a></em></li>
              </ul>
            </div>
          </div>
          <div class="oa_content-area clearfix">
            <div class="oa_content-main">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top">
                    <div class="oa_title clearfix">
                      <span class="oa_ico-right"></span>
                      <span class="oa_ico-left"></span>
                      {:lang('search')}
                    </div>
                    <div class="oa_search-area clearfix">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td>
                            <div class="oa_search-type clearfix">
                              <form action="" method="post" id="form1">
                                <table width="100%" border="0" cellspacing="1" cellpadding="0">
                                  {volist name="entry_field" id="vo"}
                                  {if condition="$vo.issearch eq 1"}
                                  <tr>
                                    <td width="100" class="oa_cell-left">{$vo.fieldalias}：</td>
                                    <td class="oa_cell-right">
                                      {$vo|getControl}
                                    </td>
                                  </tr>
                                  {/if}
                                  {/volist}
                                  <tr>
                                    <td height="30"></td>
                                    <td class="oa_cell-right"><input type="submit" value="搜索" class="oa_search-btn" /></td>
                                  </tr>
                                  <tr>
                                    <input type="hidden" name="idsite" value="{$idsite}" />
                                  </tr>
                                </table>
                              </form>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="oa_title clearfix">
                      <span class="oa_ico-right"></span>
                      <span class="oa_title-btn">
                        <ul>

                        </ul>
                      </span>
                      <span class="oa_ico-left"></span>
                      报名列表
                    </div>
                    <div class="oa_text-list" id="ajaxpage">
                      <table id="table" width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed">
                        <tr class="oa_text-list-title">
                          <th width="40" style="text-align:center;"><input id="checked"  onclick="DoCheck();" name="" type="checkbox"/></th>
                          <th width="60"><span class="oa_arr-text-list-title"></span>ID</th>
                          {volist name="entry_field" id="v"}
                          {if condition="$v.isdisplayonlist eq 1"}
                          <th><span class="oa_arr-text-list-title"></span>{$v.fieldalias}</th>
                          {/if}
                          {/volist}
                          <th width="100"><span class="oa_arr-text-list-title"></span>{:lang('operation')}</th>
                        </tr>

                        {if condition="$entry_list eq null"}<tr><td colspan="7">{:lang('data empty')}</td></tr>{else /}

                        {volist name="entry_list" id="vo"}
                        <tr class="tr">
                          <td align="center">
                            <input class="checked_one" type="checkbox" value="{$vo['id']}" />
                          </td>
                          <td>{$vo.id}</td>
                          {foreach name="entry_field" item="vl"}
                          {if condition="$vl.isdisplayonlist eq 1"}
                          <td>{$vo[strtolower($vl['fieldname'])]}</td>
                          {/if}
                          {/foreach}
                          <td width="210">
                            <a href="{:url('entry/entryview','entryid='.$vo['id'].'&userid='.$vo['userid'])}">订单详情</a>
                          </td>
                        </tr>
                        {/volist}
                        {/if}
                      </table>
                      <div class="oa_bottom clearfix">
                        <div class="clearfix">
                          <div class="oa_op-btn clearfix">
                            <input value="{:lang('delete')}" onclick="javascript:if (confirm('确定删除吗？')) { del_checked();}else{return false;};" type="button" class="oa_input-submit" />
                          </div>
                          <div class="oa_page-controls">
                            <ul>
                              <li></li>
                              <li>{$page->show()}</li>
                            </ul>
                          </div>
                        </div>
                        <div class="oa_bottom-bottom"><em></em></div>
                      </div>
                      <style type="text/css">
                        a{
                          cursor: pointer;
                        }
                        .pagination{
                          display: inline;
                          font-size: 14px;
                          letter-spacing: 4px;
                          font-family: "宋体", Gadget, sans-serif;
                        }
                      </style>
                    </div>
                  </td>
                </tr>
              </table>
              <div class="oa_content-main-bottom"></div>
            </div>
          </div>
        </div>
      </td>
      <td class="oa_wrapper-middle-arr-right oa_wrapper-display"></td>
    </tr>
    <tr class="oa_wrapper-display">
      <td class="oa_wrapper-bottom-arr-left">&nbsp;</td>
      <td class="oa_wrapper-bottom-arr-middle"></td>
      <td class="oa_wrapper-bottom-arr-right">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
<script type="text/javascript">
    $(".state").click(function () {
        $(this).addClass("oa_on");
    });
</script>

</html>