<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>报名信息</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <!-- <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="images/favicon.png" /> -->
    <link rel="stylesheet" type="text/css" href="{$roottpl}/style/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="{$roottpl}/style/css/common.css">
    <link rel="stylesheet" type="text/css" href="{$roottpl}/style/css/pc.css">

    <script type="text/javascript" src="{$roottpl}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{$roottpl}/js/swiper.min.js"></script>
    <script type="text/javascript" src="{$roottpl}/js/common.js"></script>
</head>
<body>

<!--site section start-->
<div class="site-section clearfix " id="container">
    <form method="post" action="/{$sitecode}/signup_post/{$id}"  class="information-list">
        <ul>
        <?php
            $re = $cms->GetSignupTempSub($id);
            if($re){
            foreach($re as $k=>$vo){ ?>
            <li>
                <div class="tit">{$vo['title']}：</div>
                <div class="txt"><input type="text" name="feild[]" value="weinixiaong8888" class="name" /><input style="display: none" name="feildname[]" type="text" value="{$vo['title']}"></div>
            </li>
            <?php }}
            $re1 = $cms->GetActivityInfo($id,"selcontent");
            $selcontent_index=count($re1['selcontent'][0])?>
            <li>
                <div class="tit">套餐：</div>
                <div class="txt">
                    <select name="payname" id="payname">
                        <?php
                        for($i=0;$i<$selcontent_index;$i++) {
                        if(!empty($re1['selcontent'][0][$i])){
                        ?>
                        <option value="{$re1['selcontent'][0][$i]}☆{$re1['selcontent'][1][$i]}☆{$re1['selcontent'][2][$i]}☆{$re1['selcontent'][3][$i]}☆{$re1['selcontent'][4][$i]}☆{$re1['selcontent'][5][$i]}☆{$re1['selcontent'][6][$i]}☆{$re1['selcontent'][7][$i]}☆{$re1['selcontent'][8][$i]}">{$re1['selcontent'][0][$i]} {$re1['selcontent'][1][$i]} ({$re1['selcontent'][3][$i]}元)</option>
                        <?php }} ?>
                    </select>
                </div>
            </li>
        </ul>
        <div class="information-btn">
            <input type="button" class="return" onclick="history.go(-1);" value="返回" />
            <input type="submit" class="sbm1" value="提交" />
        </div>
    </form>
</div>

    </body>
</html>