<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>M1</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<script type="text/javascript" src="{$roottpl}/js/jquery.min.js"></script>
<script type="text/javascript" src="{$roottpl}/js/swiper.min.js"></script>
<script type="text/javascript" src="{$roottpl}/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="{$roottpl}/style/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="{$roottpl}/style/css/common.css">
<link rel="stylesheet" type="text/css" href="{$roottpl}/style/css/pc.css">
</head>
<body style="background: #e7e7e7;">

<!--site section start-->
<div class="site-section clearfix" id="container" style="padding-top: 48px;">
    <div class="select-bar fixed">
        <ul class="select-bar-tab" id="select-bar-tab">
            <li class="btn"><span>全部报名</span></li>
            <li><a href="#">未开始</a></li>
            <li><a href="#">已结束</a></li>
        </ul>
        <div class="select-wrapper">
            <div class="select-main h294">
                <div class="select-right">
                    <div class="select-scroller">
                        <ul>
                            <li>全部报名</li>
                            <li>已报名，待审核</li>
                            <li>已报名，已审核</li>
                            <li>已报名，待付款</li>
                            <li>已报名，待审核</li>
                            <li>已报名，已审核</li>
                            <li>已报名，待付款</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-shade" id="section-shade"></div>
    <div class="news-list activity">
        <ul>
            <li>
                <div class="flex">
                    <div class="pic"><img src="images/activity_03.jpg" /></div>
                    <div class="txt">
                        <div class="title">测试活动·现金券</div>
                        <div class="price"><i class="iconfont price">&#xe620;</i><span>价格：1元</span></div>
                        <div class="state"><i class="iconfont laiyuan">&#xe60e;</i>状态：<span>已付款</span></div>
                        <div class="style"><i class="iconfont laiyuan">&#xe60e;</i>方式：<span>微信支付</span></div>
                        <div class="time"><i class="iconfont clock">&#xe602;</i><span>时间：2016-02-20~2016-03-20</span></div>
                        <div class="btn">
                            <a href="#" style="background: #d98bb3;">订单详情</a>
                            <a href="#" style="background: #ed958f;">退款</a>
                            <a href="#" style="background: #d9b38b;">查看约玩</a>
                            <a href="#" style="background: #5fd2b8;">分享福利</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex">
                    <div class="pic"><img src="images/activity_03.jpg" /></div>
                    <div class="txt">
                        <div class="title">测试活动·现金券</div>
                        <div class="price"><i class="iconfont price">&#xe620;</i><span>价格：1元</span></div>
                        <div class="state"><i class="iconfont laiyuan">&#xe60e;</i>状态：<span>已付款</span></div>
                        <div class="style"><i class="iconfont laiyuan">&#xe60e;</i>方式：<span>微信支付</span></div>
                        <div class="time"><i class="iconfont clock">&#xe602;</i><span>时间：2016-02-20~2016-03-20</span></div>
                        <div class="btn">
                            <a href="#" style="background: #d98bb3;">订单详情</a>
                            <a href="#" style="background: #ed958f;">退款</a>
                            <a href="#" style="background: #d9b38b;">查看约玩</a>
                            <a href="#" style="background: #5fd2b8;">分享福利</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex">
                    <div class="pic"><img src="images/activity_03.jpg" /></div>
                    <div class="txt">
                        <div class="title">测试活动·现金券</div>
                        <div class="price"><i class="iconfont price">&#xe620;</i><span>价格：1元</span></div>
                        <div class="state"><i class="iconfont laiyuan">&#xe60e;</i>状态：<span>已付款</span></div>
                        <div class="style"><i class="iconfont laiyuan">&#xe60e;</i>方式：<span>微信支付</span></div>
                        <div class="time"><i class="iconfont clock">&#xe602;</i><span>时间：2016-02-20~2016-03-20</span></div>
                        <div class="btn">
                            <a href="#" style="background: #d98bb3;">订单详情</a>
                            <a href="#" style="background: #ed958f;">退款</a>
                            <a href="#" style="background: #d9b38b;">查看约玩</a>
                            <a href="#" style="background: #5fd2b8;">分享福利</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex">
                    <div class="pic"><img src="images/activity_03.jpg" /></div>
                    <div class="txt">
                        <div class="title">测试活动·现金券</div>
                        <div class="price"><i class="iconfont price">&#xe620;</i><span>价格：1元</span></div>
                        <div class="state"><i class="iconfont laiyuan">&#xe60e;</i>状态：<span>已付款</span></div>
                        <div class="style"><i class="iconfont laiyuan">&#xe60e;</i>方式：<span>微信支付</span></div>
                        <div class="time"><i class="iconfont clock">&#xe602;</i><span>时间：2016-02-20~2016-03-20</span></div>
                        <div class="btn">
                            <a href="#" style="background: #d98bb3;">订单详情</a>
                            <a href="#" style="background: #ed958f;">退款</a>
                            <a href="#" style="background: #d9b38b;">查看约玩</a>
                            <a href="#" style="background: #5fd2b8;">分享福利</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex">
                    <div class="pic"><img src="images/activity_03.jpg" /></div>
                    <div class="txt">
                        <div class="title">测试活动·现金券</div>
                        <div class="price"><i class="iconfont price">&#xe620;</i><span>价格：1元</span></div>
                        <div class="state"><i class="iconfont laiyuan">&#xe60e;</i>状态：<span>已付款</span></div>
                        <div class="style"><i class="iconfont laiyuan">&#xe60e;</i>方式：<span>微信支付</span></div>
                        <div class="time"><i class="iconfont clock">&#xe602;</i><span>时间：2016-02-20~2016-03-20</span></div>
                        <div class="btn">
                            <a href="#" style="background: #d98bb3;">订单详情</a>
                            <a href="#" style="background: #ed958f;">退款</a>
                            <a href="#" style="background: #d9b38b;">查看约玩</a>
                            <a href="#" style="background: #5fd2b8;">分享福利</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="toTop-btn" title="回到顶部" onclick="toTop()"></div>
</div>
<!--site section end-->

<div class="footer">
    <ul>
        <li>
            <a href="#">
                <span><i class="iconfont home">&#xe617;</i></span>
                <p>主页</p>
            </a>
        </li>
        <li class="on">
            <a href="#">
                <span><i class="iconfont head">&#xe606;</i></span>
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>



<script type="text/javascript">
    $(function(){
        $(".select-bar-tab li.btn").each(function(e){
            $(this).on("click",function(){
                if($(this).hasClass("on")){
                    $(this).removeClass("on");
                    $(".select-main").removeClass("active");
                    $(".section-shade").hide();
                }else{
                    $(this).addClass("on").siblings().removeClass("on");
                    $(".section-shade").show();
                    $(".select-main").eq(e).addClass("active").siblings(".select-main").removeClass("active");
                }       
            });
        })
        $(".select-left li").on("click",function(){
            $(this).addClass("on").siblings().removeClass("on");
        });
        $(".select-right li").on("click",function(){
            $(this).addClass("on").siblings().removeClass("on");
            $(".section-shade").hide();
            $(".select-main").removeClass("active");
            $(".select-bar-tab li").removeClass("on");  
        });     
        $(".section-shade").on("click",function(){
            if($(".select-main").hasClass("active")){
                $(".section-shade").hide(); 
                $(".select-main").removeClass("active");
                $(".select-bar-tab li").removeClass("on");  
            }
        })
    });
</script>
</body>
</html>