<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>M1</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<link rel="stylesheet" type="text/css" href="style/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="style/css/common.css">
<link rel="stylesheet" type="text/css" href="style/css/pc.css">
</head>
<body style="background: #e7e7e7;">

<form class="information-list">
    <ul>
        <li>
            <div class="head">基本信息</div>
        </li>
        <li>
            <div class="tit">报名对象：</div>
            <div class="txt">
                <div class="info">
                    <span class="name">测试活动2【现金券】</span>
                </div>
            </div>
        </li>
        <li>
            <div class="tit">活动时间：</div>
            <div class="txt">
                <div class="info">2016-12-28 至 2018-07-30</div>
            </div>
        </li>
        <li>
            <div class="tit">订单号：</div>
            <div class="txt">
                <div class="info">201807097659201</div>
            </div>
        </li>
        <li>
            <div class="tit">套餐：</div>
            <div class="txt">
                <div class="info">优惠大放送1 儿童网会员价1元(原价3元) × 1</div>
            </div>
        </li>
        <li>
            <div class="tit">总金额：</div>
            <div class="txt">
                <div class="info">1.00(元)</div>
            </div>
        </li>
        <li>
            <div class="tit">状态：</div>
            <div class="txt">
                <div class="info">已报名，已付款 <span class="blue">(微信支付)</span></div>
            </div>
        </li>
        <li>
            <div class="head">报名详情</div>
        </li>
        <li>
            <div class="tit">姓名：</div>
            <div class="txt">
                <div class="info">方晓亮</div>
            </div>
        </li>
        <li>
            <div class="tit">性别：</div>
            <div class="txt">
                <div class="info">男</div>
            </div>
        </li>
        <li>
            <div class="head">签到二维码</div>
        </li>
        <li>
            <div class="txt">
                
            </div>
        </li>
    </ul>
</form>

<div class="footer">
    <ul>
        <li>
            <a href="#">
                <span><i class="iconfont home">&#xe617;</i></span>
                <p>主页</p>
            </a>
        </li>
        <li class="on">
            <a href="#">
                <span><i class="iconfont head">&#xe606;</i></span>
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>
</body>
</html>